# Environment & Secrets
.env
*.env
!.env.example

# Python / Backend
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
*.sqlite3

# Node.js / Frontend
node_modules/
dist/
build/
.next/
npm-debug.log*
yarn-error.log*
yarn-debug.log*

# Backend
Backend/node_modules/
Backend/npm-debug.log*
Backend/yarn-error.log*
Backend/yarn-debug.log*

# Frontend
Frontend/node_modules/
Frontend/dist/
Frontend/build/
Frontend/npm-debug.log*
Frontend/yarn-error.log*
Frontend/yarn-debug.log*

# OS & IDE Files
.DS_Store
Thumbs.db
.vscode/
.idea/